.Bouquet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    /* remove when done */
    /* border: solid 1px black; */
}

.Bouquet:hover {
    cursor: pointer;
}

.Bouquet-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Bouquet-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.Bouquet-price {
    margin-top: 1rem;
}

.Bouquet-desc {
    margin-top: 1rem;
    text-align: center;
}