@import "tailwindcss";

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html,
    body,
    #root {
        height: 100%;
        background-color: #FFF0F5;
    }

    body {
        margin: 0;
        font-family: "HattonMedium";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    a {
        font-family: "HattonUltralight";
    }

    code {
        font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }
}
